* {
  box-sizing: border-box;
  border-collapse: inherit;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

body {
  font: 16px/1.7 "Graphit", sans-serif;
  color: #171717;
  background: #f3f2f7;

  &.a-mobile {
    overflow: unset;
  }
}

:not(body) {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

article,
section {
  will-change: transform;
}

.heading-xl {
  font-size: 14.583vw;
  font-weight: 400;
  line-height: 13.194vw;
}

.paragraph-m {
  font-size: 1.458vw;
  font-weight: 400;
  line-height: 2.083vw;
  margin-bottom: 4.167vw;
}

.paragraph-r {
  opacity: 0.7;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.319vw;
  margin-bottom: 1.042vw;
}

.button-r {
  cursor: pointer;
  position: relative;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.319vw;
  padding-left: 8.65vw;
}

.list-r {
  opacity: 0.7;
  font-size: 0.833vw;
  font-weight: 400;
  line-height: 1.7vw;
}

.s-project .project-head .heading-xl {
  flex-basis: 100%;
  position: relative;
}

img {
  width: 100%;
  border: none;
  display: block;
  pointer-events: none;
}

.a-mobile .s-project .image-src {
  top: -25%;
  height: 105%;
}

@media only screen and (max-width: 768px) {
  .heading-xl {
    font-size: 15vw;
    line-height: 14.583vw;
    letter-spacing: -0.3vw;
  }
  .paragraph-m {
    font-size: 6vw;
    line-height: 8vw;
    margin-bottom: 8.33vw;
  }
  .paragraph-r {
    font-size: 3vw;
    line-height: 5vw;
    margin-bottom: 8.33vw;
  }
  .s-project .project-head .heading-xl {
    order: 3;
    margin-top: 8.33vw;
  }
  .button-r {
    font-size: 3.5vw;
    line-height: 5vw;
    padding-left: 18.33vw;
  }
  .list-r {
    font-size: 3vw;
    line-height: 4vw;
  }
}
